<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Employee</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header class="header">
    <h1>Add New Employee</h1>
  </header>
  <main class="main-content">
    <form action="/employees" method="POST" class="form-container">
      <div class="form-group">
        <label for="Eid">ID:</label>
        <input type="number" name="Eid" id="Eid" required />
      </div>

      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" name="firstName" id="firstName" required />
      </div>

      <div class="form-group">  
        <label for="lastName">Last Name:</label>
        <input type="text" name="lastName" id="lastName" required />
      </div>

      <div class="form-group">  
        <label for="role">Role:</label>
        <input type="text" name="role" id="role" required />
      </div>

      <div class="form-group">  
        <label for="department">Department:</label>
        <input type="text" name="department" id="department" required />
      </div>

      <div class="form-group">
        <label for="salary">Salary:</label>
        <input type="number" name="salary" id="salary" required />
      </div>

      <div class="form-group">
        <label for="hireDate">Hire Date:</label>
        <input type="date" name="hireDate" id="hireDate" required />
      </div>

      <div class="form-group">
        <button type="submit">Add Employee</button>
      </div>

      </form>
      
  </main>
  <footer class="footer">
    <p>&copy; 2025 Chahinez Company. All rights reserved.</p>
  </footer>
</body>
</html>